.aboutMe {    
    h2 {
        text-align: left;
        color: #FF0000;        
    }
    p {
        font-weight: bolder;
        padding-left: 0px;
        text-align: left;
        margin-left: 20px;;
    }
    
    
    
}